@font-face {
    font-family: "anotefontstyle";
    src: url(a-note-font-style.ttf);
}

body {
    background-color: #D74DF5;
    background-image: url(lomi-bg.jpg);
    background-position: center;
    background-size: 40rem;
 
   
}

.wrapper {
    height:115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.paragraph-texts {
    height: 10rem;
    word-spacing: 0.1rem;
}

.lomi-pamper {
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.heading-text,
.paragraph-texts {
    font-family: "anotefontstyle";
    color: hsl(0, 0%, 100%);
    width:30rem;
    text-align: center;
}

.heading-text {
    height:2.5rem;
    padding: 1rem;
}

.hand-wave-emoji {
    animation-name: hand-wave-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes hand-wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) ; -webkit-transform: rotate( 0.0deg) ; -moz-transform: rotate( 0.0deg) ; -ms-transform: rotate( 0.0deg) ; -o-transform: rotate( 0.0deg) ; }
  }

.music {
    width: 20rem;
    position: relative
}
.tech-slideshow {
    height: 209px;
    max-width: 380px;
    margin: 0 auto;
    overflow: hidden;
    position: left;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 209px;
    width: 3840px;
    background: url(lomi-banner.jpg);
    position: left;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 35s linear alternate infinite;
  }
 
  
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  }
  }